@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex1 () {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin container {
  max-width: 1280px;
  margin: 0 auto;
}
