@media only screen and ((min-width: 365px) and (max-width: 768px)) { 
  .navbar1,
  .navbar2__list_categories,
  .navbar2__item,
  .swiper-scrollbar,
  .swiper-button-prev,
  .swiper-button-next{
      display: none;
}

.navbar2__lists{
  flex-wrap: wrap;
}

.header{
  max-width: 100%;
  padding: 0;
}

.navbar2__link{
  font-weight: $font-w-700;
  font-size: $font-46;
  }

.bth-top{
  position: absolute;
  left: 1rem;
  top: 4rem;

  font-weight: $font-w-400;
  font-size: $font-24;
  color: $color-gray;
  background-color: $color-gray;

  width: 20rem;
  height: 5rem;
  border-radius: 16px;
  }

.bth-top__glass {
  padding-left: 60%;
  }

.container{
  width: 100%;
} 

.banner{
  width: 100%;
  height: 24rem;

  &__title{
    font-size: $font-24;
  }

  &__description{
    margin: 0;
    margin-top: $m-1;
  }

  &__btn{
    position: absolute;
    top: 18rem;
    margin: 0;

    font-weight: $font-w-500;
    font-size: $font-16;
    color: $color-yellow;

    padding-left: $p-3;
    padding-right: $p-3;
  }
}

.h2{
  font-weight: $font-w-400;
  font-size: $font-28;

  margin-left: $m-1;
  margin-bottom: $m-1;
}

.product{
  flex-wrap: wrap;
  justify-content: center;

  &__item{
    width: 300px;
  
    margin-bottom: $m-1;
    padding: $p-1;
  }
}

.button {
  margin-top: 5rem ;
}

.section__block{
  flex-wrap: wrap;
  justify-content: center;

  margin-left: $m-1;
  margin-top: $m-0;

  max-width: 100%;

  &_price{
    font-size: $font-16;
  }

  &_item{
    font-size: $font-16;
  }

  &_description{
    height: 15rem;
    width: 12rem;
  }
}

.section2{
  margin-top: $m-2;
}

.section2-firms__lists{
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
    
  align-items: center;

  margin: $m-5;
}

.section2-reviews{
  width: 50%;
  margin-top: $m-2;
}

.section2-reviews__lists{
  flex-wrap: wrap;
  margin-left: $m-1;
  width: 100%;

  &-list{
    @include flex();
    flex-direction: column;
    width: 100%;
  }
}

.section2-inst__lists{
    flex-wrap: wrap;
    justify-content: center;

    max-width: 100%;

    margin-top: $m-1;
    padding-bottom: $p-5;

      &_list{
          padding: $p-0-5;
          margin-left: $m-2;
      }
  }

.footer-column1,
.footer-column2,
.footer-column3,
.footer-column4 {
      display: none;
  }

  .footer-2{
    @include flex();

    position: fixed;
    bottom: -60px;

    border-top: 1px solid $color-black;
    background-color: $color-white;

    width: 100%;
    padding-bottom: $p-5;
    padding-top: $p-1-5;
}

.footer{
  position: relative;

  padding: $p-0-5;
  margin-bottom: $m-1;

  background-color: $color-white;
  }
}

@media only screen and (min-width: 769px){
  .footer-2{
    display: none;
  }
}