$color-white: #ffffff;
$color-white-1: #FFFCFC;
$color-black: #000000;
$color-shadow: rgba(57, 63, 72, .3);
$color-gray: rgba(255, 255, 255, 0.2);
$color-gray-1: #99938A;
$color-gray-2: #A5A5A5;
$color-gray-3: #EFEFEF;
$color-yellow: #FADE4B;
$color-blye: rgba(49, 13, 232, 0.6);
$color-red: #FB000F;

$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-32: 32px;
$font-46: 46px;

$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;

$font-family: 'Roboto', sans-serif;

$p-0: 0;
$p-0-5: .5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-5: 5rem;
$p-23: 23rem;

$m-0: 0;
$m-0-5: .5rem;
$m-1: 1rem;
$m-2: 2rem;
$m-5: 5rem;
